{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add books</title>
    <link rel="stylesheet" href="{% static 'css/addbooks.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
</head>
<body>

    <form action="booktodb/" method="POST">

        {% csrf_token %}


    
        <div class="form-group">
            <label for="bookid">Book ID</label>
            <input type="text" class="form-control" id="bookid" name="bookid">
        </div>

        <div class="form-group">
            <label for="isbnnumber">ISBN Number</label>
            <input type="text" class="form-control" id="isbnnumber" name="isbnnum">
        </div>

        <div class="form-group">
            <label for="bookname">Book name</label>
            <input type="text" class="form-control" id="bookname" name="bookname">
        </div>

        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" name="author">
        </div>

        <div class="form-group">
            <label for="domain">Domain</label>
            <input type="text" class="form-control" id="domain" name="domain">
        </div>

        <div class="form-group">
            <label for="domain">Quantity</label>
            <input type="text" class="form-control" id="quantity" name="quantity">
        </div>

       <!-- <div class="form-group">
            <label for="exampleFormControlFile1">Upload the image of the book here!</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="bookimage">
          </div>
        -->
        <br>
        <button type="submit" class="btn btn-primary">Add to db</button>
        <br><br><br><br><br>
    </form>
    
    <table class="table">
        <tr class="table-primary">
          <th>RollNO</th>
          <th>OrderId</th>
          <th>BookId</th>
          <th>Bookname</th>
          <th>Author</th>
          <th>Receiveddate</th>
          <th>Duedate</th>
        </tr>

    {% for i in ord %}
    {% for j in book %}
    {% if i.bookid_id == j.bookid %}
    <tr>

        <td>{{ i.roll_no }}</td>
        <td>{{i.orderid }}</td>
        <td>{{ i.bookid_id }}</td>
        <td>{{j.bookname }}</td>
        <td>{{ j.author }}</td>
        <td>{{i.issuedate }}</td>
        <td>{{i.duedate }}</td>
        
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </table>
<br><br><br><br>
</body>
</html>