{% extends 'dashboard/layout.html' %}
{% load static %}
{% block title %}
Damage Reports
{% endblock %}
{% block body %}
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Books that you have got</h5>
                    <!-- Table with stripped rows -->
                    <table class="table datatable" style=" overflow:hidden;overflow-y: scroll;">
                        <thead>
                        <tr>
                            <th scope="col">Roll number</th>
                            <th scope="col">Book ID</th>
                            <th scope="col">Book Name</th>
                            <th scope="col">Copy no</th>
                            <th scope="col">Date issued</th>
                            
                            <th scope="col">Renewed</th>
                            <th scope="col">Due date</th>
                            <th scope="col">Date returned</th>
                            
                        </tr>
                        </thead>
                        <tbody>

                        <!-- {% for i in iss %}

                        <tr>
                            <td>{{i.bookid.bookid}}</td>
                            <td>{{i.bookid.title}}</td>
                            <td>{{i.copy_no}}</td>
                            <td>{{i.date_issued}}</td>
                            <td>{{i.date_returned}}</td>
                            <td>{{i.renewed}}</td>
                        </tr>


                        {% endfor %} -->
                        {% for x,y in d.items %}
                        
                        

                        <tr>
                            {% for k,v in y.items %}
                            <td>{{v}}</td>
                            
                            {% endfor %}
                        </tr>


                        
                        {% endfor %}

                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}