{% extends 'dashboard/layout.html' %}
{% load static %}
{% block title %}
Library - View books
{% endblock %}
{% block body %}
<section class="section">


    <div class="row align-items-top" style="display:flex">
        {% for book in books%}
        <div class="col-lg-12">
                <div class="card mb-5">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <img src="/media/{{book.picture}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-6" >
                            <div class="card-body pt-2" >
                                <p class="card-title pt-1">{{book.title}}</p>
                                <div class="row g-0">
                                    <div class="col-md-6" >
                                        <p class="card-title pt-2" style="display:inline-block;">Author :</p><p class="card-text" style="display:inline-block;">{{book.auth}}</p><br>
                                        <p class="card-title pt-2" style="display:inline-block;">Book id :</p><p class="card-text" style="display:inline-block;">{{book.bookid}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="card-title pt-2" style="display:inline-block;">Publication :</p><p class="card-text" style="display:inline-block;">{{book.publication}}</p><br>
                                        <p class="card-title pt-2" style="display:inline-block;">ISBN :</p><p class="card-text" style="display:inline-block;">{{book.isbn}}</p>
                                    </div>
                                </div>


                                <p class="card-title pt-2" style="display:inline-block;">Copies Available :</p><p class="card-text" style="display:inline-block;">{{book.cou}}</p><br>


                                <p class="card-text" style="color:#444444;display: -webkit-box;
                        max-width: 600px;
                         height:202.19;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;}">{{book.desc}}</p>
                            </div>
                        </div>
                    </div>
        </div>


        {% endfor %}
    </div>
</section>
{% endblock%}