{% extends 'dashboard/layout.html' %}
{% load static %}
{% block title %}
View Books
{% endblock %}
{% block body %}
<section class="section">
    <div class="row align-items-top" style="display:flex">
        <div class="col-lg-3">
            <div class="card">
                <img src="{% static 'dashboard/img/card.jpg' %} " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card with an image on top</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <img src="{% static 'dashboard/img/card.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card with an image on top</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <img src="{% static 'dashboard/img/card.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card with an image on top</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <img src="{% static 'dashboard/img/card.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card with an image on top</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <img src="{% static 'dashboard/img/card.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card with an image on top</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <img src="{% static 'dashboard/img/card.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card with an image on top</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}

