{% extends 'dashboard/layout.html' %}
{% load static %}
{% block title %}
Damage Reports
{% endblock %}
{% block body %}
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Damage Reported</h5>
                    <!-- Table with stripped rows -->
                    <table class="table datatable" style=" overflow:hidden;overflow-y: scroll;">
                        <thead>
                        <tr>
                            <th scope="col">Book id</th>
                            <th scope="col">Copy No</th>
                            <th scope="col">Damaged by</th>
                            <th scope="col">Damaged on</th>
                            <th scope="col">Damage Desc</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for d in damage %}

                        <tr>
                            <td>{{d.bookid.bookid}}</td>
                            <td>{{d.copy_no}}</td>
                            <td>{{d.roll_no}}</td>
                            <td>{{d.damaged_on}}</td>
                            <td>{{d.damage_desc}}</td>
                            <td>
                                <form method="post" action="send-mail">
                                    {% csrf_token %}
                                    <input type="hidden" name="book_id" value="{{d.bookid.bookid}}">
                                    <input type="hidden" name="copy_no" value="{{d.copy_no}}">
                                    <input type="hidden" name="roll_no" value="{{d.roll_no}}">
                                    <button type="submit"  name="damage" class="btn btn-primary mb-2">
                                        Send Mail
                                    </button>
                                </form>
                            </td>
                        </tr>


                        {% endfor %}

                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}