@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:ital@1&display=swap");

img {
  height: 100vh;
}
span.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 50px;
  width: 50px;
  background-color: rgb(236, 12, 12);
  /*background-color: rgb(219, 12, 12);*/
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: white;
  font-size: 10px;
  height: 10px;
  width: 50px;
}
.carousel-caption {
  text-align: center;
  bottom: 35vh;
  background-color: #00000010;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 25vh;
}
.carousel-dark .carousel-caption {
  color: white;
}
.btn {
  background-color: #f2796e;
  border: 2px solid #f2796e;
  border-radius: 25px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
  background-color: black;
  color: greenyellow;
  font-weight: bold;
}
.carousel-caption h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
.carousel-caption h5 {
  font-size: 50px;
  text-transform: capitalize;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (max-width: 720px) {
  .carousel-caption h1 {
    font-size: 6vh;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
    padding: auto;
  }
  .carousel-caption h5 {
    font-size: 5vh;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .carousel-caption {
    text-align: center;
    bottom: 30vh;
    width: 40vh;
    border-radius: 30vh;
  }
}
