<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social login</title>
</head>
<body>
    {% if  user.name %}
    <p>Hello !!! {{user.name}}</p>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
    {% else %}
    <p>No user found</p>
    <a href="/accounts/login">Login</a>
    {% endif%}



</body>
</html>